# env
.env
.venv/

# python
__pycache__/
*.pyc

# mac
.DS_Store

# node / next
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/
frontend/out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
